/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root{
--font-Inter: 'Inter-Variable';
--font-Press-Start: 'Press Start';
--font-Inter-title-weight: 715;
--font-Inter-text-weight: 410;
--wdth: 200;
--bg-gradient-g-lines: repeating-linear-gradient(
    to right,
    #d3d3d3 0,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
);
--bg-gradient-v-lines:
    repeating-linear-gradient(
        to bottom,
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
    );
--bg-gradient-gray: 
    linear-gradient(
    to bottom,
    #e7e7e7 0%,
    #e7e7e7 0.01%,
    #1a1a1a 100%
);
--block-inline-size: clamp(20rem, 33.929vw + 13.214rem, 43.75rem);
--small-font-weight: 400;
--bg-color: #fff;
--func-color: #000;
--block-height: 956px;
--heart__contour-color: #000;
--animation-fill-color: rgba(255, 0, 0, 0);
--active__fill-color: #FF0000;
--image__size: 100%;
--smallpx: 25px;
}
